* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  font-size: 1.6rem;
}
.main {
  margin-top: 10rem;
}
.form {
  margin: 0 auto;
  width: 25%;
  padding: 3.2rem;
  background-color: #f1f3f5;
  border-radius: 0.3rem;
  display: flex;
  gap: 3.2rem;
  align-items: flex-end;
  &_label {
    font-weight: 800;
    text-transform: uppercase;
  }
  &_group {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
  }
  &_input {
    width: 100%;
    height: 5rem;
    padding-left: 0.8rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.5);
    &:focus {
      outline: 0.2rem dotted #339af0;
      outline-offset: 0.2rem;
    }
  }
  &_btn {
    padding: 0.8rem 3.2rem;
    height: 5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    background-color: #339af0;
    color: #fff;
    transition: all 0.3s;
    &:hover {
      background-color: #256ea9;
    }
  }
}

.todo {
  &_lists {
    margin: 3.2rem auto;
    width: 25%;
    height: 60rem;
    overflow-y: scroll;
    padding: 0 3.2rem;
  }
  &_list {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2f2ff;
    margin-bottom: 1rem;
    transition: all 0.3s;
    width: 100%;
    word-break: break-all;
    gap: 2.4rem;
  }

  &_icon {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  &_check {
    stroke: #40c057;
    &:hover {
      transform: translateY(-0.2rem);
      stroke: #329644;
    }
  }
  &_remove {
    stroke: #fa5252;
    &:hover {
      transform: translateY(-0.2rem);
      stroke: #ad3737;
    }
  }
  &_content {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }
  &_icons {
    display: flex;
    gap: 1.6rem;
  }
}
.check {
  background-color: #5ae673;
}
